@import url("../../app/css/fonts.css");

*{
    -webkit-appearance: none;
    -moz-appearance: none;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    text-decoration: none;
    margin: 0px;
    padding: 0px;
    transition: all .3s linear;
}

body{
    background-color: rgba(66, 135, 245, 0.1);
}

.logo{
    font-size: 24px;
    color: #f24f44;
    font-weight: 900;
    text-shadow: 0px 7px 15px rgba(242, 79, 68, 0.6);
    margin-bottom: 25px;
}

.logo-tk{
    color: #ffbf00;
    font-size: 24px;
    font-weight: 900;
    text-shadow: 0px 7px 15px rgba(255, 191, 0, 0.6);
    margin-bottom: 25px;
}

.app{
    width: 50%;
    padding: 55px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    background-color: ghostwhite;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    border-radius: 15px;
}

.title{
    color: dimgray;
    font-size: 4.8vh;
    font-weight: 700;
    text-shadow: 0px 5px 8px rgba(0, 0, 0, 0.15);
    margin-bottom: 2.5vh;
}

#custominput{
    display: none;
}

#longURLInput{
    width: 70%;
    height: auto;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 2vh;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
}

#longURLInput:focus + .text-input-under{
    margin-top: 25px;
    opacity: 1;
    pointer-events: all;
}

.text-input-under{
    color: midnightblue;
    font-size: 2.2vh;
    margin-top: -35px;
    opacity: 0;
    pointer-events: none;
}

#startEngineButton{
    background-color: #4287f5;
    border: none;
    border-radius: 7px;
    padding: 1.5vh;
    width: 50%;
    vertical-align: middle;
    margin-top: 15px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    color: white;
    font-size: 1.8vh;
    font-weight: 700;
}

#startEngineButton:hover{
    box-shadow: 0px 8px 25px rgba(66, 135, 245, 0.6);
}

#outputMessage{
    font-size: 18px;
    font-weight: 700;
    text-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
    margin-top: 0px;
}

#shortenedURL{
    display: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0px;
    width: 70%;
    height: auto;
    border: none;
    outline: none;
    padding: 15px;
    font-size: 2vh;
    box-shadow: 0px 5px 12px rgba(0, 0, 0, 0.15);
    border-radius: 7px;
    pointer-events: none;
}

#completeOutput{
    margin-top: 2.5vh;
    margin-bottom: 2.5vh;
    color: midnightblue;
    font-size: 2.2vh;
    font-weight: 400;
}

#completeOutputDonate{
    margin-top: 1.5vh;
    margin-bottom: 1.5vh;
    color: #e83e8c;
    font-size: 2.2vh;
    font-weight: 400;
    display: block;
}

#completeOutputDonate:hover{
    color: #b11850;
    text-decoration: underline;
}

.contact-link{
    color: gray;
    font-size: 1.8vh;
    font-weight: 700;
    transition: none;
}

.contact-link:hover{
    text-decoration: underline;
    color: royalblue;
}

.contact-link-text{
    font-size: 1.6vh;
    transition: none;
}
